* {
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}
.kotak {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.kotak-login{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
}

.form-box {
    flex-basis:600px;
    background-color: #fff;
    padding: 20px;   
}
.form-box h2 {
    border-bottom: 1px solid #000;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
input,select {
    width: 100%;
    padding:15px 20px;
    margin:8px 0;
    border: 1px solid #ccc;
    
}
